<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="bg-gray-200 w-screen h-screen flex justify-center items-center">
      <div class="w-64 h-auto bg-white rounded-2xl shadow-xl border-4 border-gray-100">
        <div class="w-auto mx-3 my-2 h-6 flex justify-between">
          <div class="text-sm">08:57</div>
          <div class="flex items-center text-xs space-x-1">
            <i class="fas fa-signal"></i>
            <i class="fas fa-wifi"></i>
            <i class="fas fa-battery-three-quarters text-sm"></i>
          </div>
        </div>
        <div class="w-auto m-3 h-28 text-right space-y-2 py-2">
          <div class="text-gray-700">45 + (1250 x 100) / 100</div>
          <div class="text-black font-bold text-3xl">12,545</div>
        </div>
        <div class="w-auto m-1 h-auto mb-2">
          <div class="m-2 flex justify-between">
            <div class="bg-yellow-100 shadow-md rounded-2xl w-12 h-12 text-yellow-600 font-medium flex justify-center items-center">C</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">(</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">)</div>
            <div class="bg-yellow-500 shadow-md rounded-2xl w-12 h-12 text-white font-medium text-xl flex justify-center items-center">/</div>
          </div>
          <div class="m-2 flex justify-between">
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">7</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">8</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">9</div>
            <div class="bg-yellow-500 shadow-md rounded-2xl w-12 h-12 text-white font-medium text-xl flex justify-center items-center">x</div>
          </div>
          <div class="m-2 flex justify-between">
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">4</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">5</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">6</div>
            <div class="bg-yellow-500 shadow-md rounded-2xl w-12 h-12 text-white font-medium text-xl flex justify-center items-center">-</div>
          </div>
          <div class="m-2 flex justify-between">
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">1</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">2</div>
            <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">3</div>
            <div class="bg-yellow-500 shadow-md rounded-2xl w-12 h-12 text-white font-medium text-xl flex justify-center items-center">+</div>
          </div>
          <div class="m-2 flex justify-between">
            <div class="bg-gray-200 shadow-md rounded-2xl w-full h-12 text-black font-medium flex justify-center items-center">0</div>
            <div class="flex w-full ml-3 justify-between">
              <div class="bg-gray-200 shadow-md rounded-2xl w-12 h-12 text-black font-medium flex justify-center items-center">.</div>
              <div class="bg-green-500 shadow-md rounded-2xl w-12 h-12 text-white font-medium text-xl flex justify-center items-center">=</div>
            </div>
          </div>
          <div class="flex justify-center mt-5">
            <div class="w-20 h-1 bg-gray-100 rounded-l-xl rounded-r-xl"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>